*{
  all: unset;
  font-family: JetBrainsMono NF;
}

.bar_class {
    background: rgba(0, 0, 0, 0.5);
    border-width: 5px 5px 5px 5px;
    border-radius: 7;
    border-style: solid;
    //border-color: #BF9C34;
    //color: #A66E29;
    border-color: #A64029;
    color: #FFFFFF;
}

.module {
  margin: 0px 5px 0px 0px;
}

.clock_time_class {
  font-size: 32;
  margin-right: 5px
}

.clock_date_class {
  font-size: 16;
}

.keymap_class {
  font-size: 16;
  margin: 0px 5px 0px 0px
}

.battery_class {
  font-size: 16;
}

.workspaces_class {
  font-size: 16;
}

.volume_speaker_class {
  font-size:16;
  margin: 0px 0px 0px 5px;
}
.volume_mic_class {
  font-size: 16;
  margin: 0px 0px 0px 5px;
}

.volume_scale_class trough highlight {
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 10px;
}
