*{
  all: unset;
  font-family: JetBrainsMono NF;
}

.bar_class {
    background-color: #000000;
    border-width: 0px 0px 5px 0px;
    border-radius: 0;
    border-style: solid;
    border-color: #c38946;
}

.module {
  margin: 0px 5px 0px 0px;
}

.clock_time_class {
  font-size: 16;
  margin-right: 5px
}

.clock_date_class {
  font-size: 16;
}

.battery_class {
  font-size: 16;
}

.volume_speaker_class {
  font-size:16;
}
.volume_mic_class {
  font-size: 16;
}

.volume_scale_class trough highlight {
  background-image: linear-gradient(to right, #afcee0 30%, #a1bdce 50%, #77a5bf 100% *50);
  border-radius: 10px;
}
